.section {
    margin-top: 30px;
    padding-left: 60px;
    box-sizing: border-box;
    width: 100%;
}

.numberList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 255px;

    li {
        font-family: 'Iceland', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 24px;
        margin-bottom: 8px;
    }
}

.doneList {
    composes: numberList;

    li {
        color: #00CCCC;
    }
}


.statusList {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__title {
        font-family: 'JetBrains Mono', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #F2F2F3;
        margin-top: 0;
        margin-bottom: 24px;
    }
}

.total__container {
    display: flex;
    flex-direction: column;

    h3 {
        font-family: 'JetBrains Mono', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        margin-top: 60px;
    }

    p {
        font-family: 'Iceland', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 144px;
        line-height: 120px;
        margin: 0;
    }
}