@font-face {
  font-family: 'JetBrains Mono';
  src: url(./fonts/JetBrainsMono/JetBrainsMono-Regular.woff2);
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url(./fonts/JetBrainsMono/JetBrainsMono-Bold.woff2);
}

body {
  margin: 0;
  width: 100%;
  background: #1C1C21;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
